*{
    margin: 0px;
    padding: 0px;
}
.header{
     height: 100vh;
     width: 100%;
    background-image:url(/imgtravel/pexels-asad-photo-maldives-1268855.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    padding-top: 30px;
    text-align: center;
    color: white;
}
.header img{
    width: 170px;
    float: left;
    
}
.login-btn{
    float: right;
    background: transparent;
    border-radius: 50px;
    padding: 8px 0;
    outline: none;
    border:2px solid #fff;
    width: 100px;
    color: white;
   
}
.header h1{
    padding-top:260px;
    padding-bottom:0px ;
    font-size: 55px;
}
.header p{
    margin: 18px 0px;
    font-size: 20px;
}
.input-group{
    width: 90%;
    max-width: 500px;
    margin: auto;
    background-color: white;  
    border-radius: 30px;
}
.input-group-text{
    width:100px;
    border-radius: 30px;
    background-image:linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: white;
    box-shadow: none;
    margin: 2px;  
}
.features{
     padding: 100px 0px;
}
.features h1{
    text-align: center;
    padding-bottom:100px;
}
.feature-img img{
    width: 100%;
    border-radius: 20px;
   
}
.price{
    padding:10px;
    float:left;
    background-color:#ff5722;
    height: 40px;
    color: white;
    border-radius: 20px;
      
}
.rating{
    float: right;
    padding: 5px;
    color: #ff5722;   
}
.featuredetails{
    padding: 40px;
    text-align: justify;
}
.featuredetails h4{
    margin-top: 20px;
}
.bi{
    color: #ff5722;
    margin-right: 5px;
}
.feature-box{
    box-shadow: 0 0 10px 1px rgba(#00ff7e,#1f3d90);
    border: 1px ridge;
    border-radius: 20px;
}
.gallery {
    padding: 100px 0px;
    background:#efefef ;
}
.gallery h1{
    text-align: center;
    padding-bottom: 50px;
}
.gallery-box img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.gallery-box img:hover{
    transform: scale(1.1);
}
.gallery-box h4{
    text-align: center;
    display: block;
    font-weight: 600;
    position: absolute;
    left:50%;
    top:50%;
    color: white;
    text-shadow: -2px 2px 2px #000;
    font-size: 20px;
    transform:translate(-50%,-50%)
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}
.Banner2{
    height: 80vh;
    width: 100%;
    background-image: url(imgtravel/banner.jpg);
    background-position:center;
    background-size: cover;
    background-attachment:fixed;
   padding-top: 15%;
}
.banner-highlights{
    text-align: center;
    padding: 70px 0px;
    background: rgba(0,0,0,0.7);
    color: white;
    
}
.book-btn{
    background: transparent;
    border-radius: 50px;
    padding: 8px 0;
    outline: none;
    border:2px solid #fff;
    width: 120px;
    color: white;
    margin-top: 20px;
}
.review{
    padding: 100px 0px;
}
.review h1{
    text-align: center;
    padding-bottom: 50px;
}
.user-review{
    text-align: center;
    box-shadow:0 0 10px 0 rgba(0 ,0 ,100,0.2 );
   
}
.user-review::before{
    content: '\201d';
    display: flex;
    font-size: 50px;
    color: #6495ed;
    font-family: sans-serif; 
    justify-content: space-evenly;
    
}
.footer{
    background-image: linear-gradient(#2d557d,#9610fb);
    padding:100px ;
}
.footer-logo{
    
    width: 150px;
    height: 50px;
    color: white;
    margin-top: 10px;
}
.footer p{
   
   color: white;
   text-align: justify;
}
.footer h4{
    color: white;
    text-align:center;
    margin-top: 20px;
}
#p1{
    color: white;
    margin-top: 30px;
    margin-left: 65px;
    text-align: justify;
    
}
.bi1{
   margin-right: 10px;
} 

